/*----- setting----- */
:root {
  --main-color: #2e2f42;
  --contact-color: #434455;
  --contact-color-hover: #404bbf;
  --normal-color-button: #4d5ae5;
  --white-color: #ffffff;
  --background-footer: #2e2f42;
  --background-button: #f4f4fd;
  --border-button: #e7e9fc;
  --svg-client: #8e8f99;
}
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
button {
  cursor: pointer;
  border: none;
}
a:visited {
  color: var(--background-footer);
}
a {
  text-decoration: none;
}

/* ------header----- */
.head {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.head-nav {
  display: flex;
}
.nav-list {
  display: flex;
}
.con-list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.con-item + .con-item {
  margin-left: 40px;
}

.head-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.black-logo {
  color: var(--main-color);
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* margin-right: 40px; */
}
.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--contact-color-hover);
}
.con-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.con-link:hover,
.con-link:focus {
  color: var(--contact-color-hover);
}

/* ---hero---- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--background-footer);
}
.hero-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-but {
  margin: 0 auto;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--normal-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.hero-but:hover,
.hero-but:focus {
  background-color: var(--contact-color-hover);
}

/* -----benefits--- */
.benefits {
  margin-top: 120px;
}
.ben-list {
  display: flex;
  justify-content: space-between;
}
.ben-item + .ben-item {
  margin-left: 24px;
}
.ben-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.ben-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

/* ----doing---- */
.doing {
  padding-top: 120px;
  padding-bottom: 120px;
}
.doing-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.doing-list {
  display: flex;
}
.doing-item + .doing-item {
  margin-left: 24px;
}

/* ---team---- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--background-button);
}

.team-titl {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.team-list {
  margin: 0 auto;
  display: flex;
}
.team-item + .team-item {
  margin-left: 24px;
}
.team-img {
  margin-bottom: 32px;
}
.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.team-skill {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

/* footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-footer);
}

.footer-logo {
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.iris-logo {
  color: var(--hover-color);
}
.white-logo {
  color: var(--white-color);
}
.footer-text {
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
}

/* -------portfolio----- */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.filter-item + .filter-item {
  margin-left: 24px;
}
.filter-list {
  margin-bottom: 72px;
}
.gallery-img {
  margin-bottom: 32px;
}
.gallery-title {
  margin-bottom: 8px;
}
.filter-but {
  font-family: 'Roboto';
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  background: var(--background-button);
  border: 1px solid var(--border-button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--contact-color-hover);
}

.filter-but:hover,
.filter-but:focus {
  color: var(--white-color);
  background-color: var(--contact-color-hover);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;

  column-gap: 24px;
  row-gap: 48px;
}
.gallery-item {
  outline: 1px solid #e7e9fc;
}

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--background-footer);
}
.gallery-tipe {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
