/*----- setting----- */
:root {
  --main-color: #2e2f42;
  --contact-color: #434455;
  --contact-color-hover: #404bbf;
  --normal-color-button: #4d5ae5;
  --white-color: #ffffff;
  --background-footer: #2e2f42;
  --background-button: #f4f4fd;
  --border-button: #e7e9fc;
  --svg-client: #8e8f99;
  --iris-logo: #4d5ae5;
  --green: #31d0aa;
  --input-text: #757575 50%;
}
* {
  box-sizing: border-box;
}
.container {
   /* Phone screen: >= 320px */
  min-width: 320px;
  max-width: 448px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1158px;
}

@media screen and (min-width: 768px) {
  .container {
    /* Tablet screen: >= 768px */
    max-width: 720px;
  }

  @media screen and (min-width: 1200px) {
  .container {
    /* Desktop screen: >= 1200px */
    max-width: 1200px;
  }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}

/* ------header----- */
.head {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.flex-mod {
  display: flex;
}
.head-nav {
  display: flex;
}
.nav-list {
  display: flex;
}
.con-list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.con-item + .con-item {
  margin-left: 40px;
}
.nav-link {
  position: relative;
  padding-bottom: 28px;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--contact-color-hover);
}
.head-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.black-logo {
  color: var(--main-color);
}
.nav-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--contact-color-hover);
}

.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--contact-color-hover);
}
.con-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.con-link:hover,
.con-link:focus {
  color: var(--contact-color-hover);
}

/* ---hero---- */

.hero {
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--background-footer);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/logo-hero-min.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  max-width: 1440px;
}
.ben-svg-box {
  width: 264px;
  height: 112px;
  background-color: var(--background-button);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.hero-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-but {
  margin: 0 auto;
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  left: 636px;
  top: 428px;
  background: var(--normal-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-but:hover,
.hero-but:focus {
  background-color: var(--contact-color-hover);
}

/* -----benefits--- */
.benefits {
  padding-top: 120px;
}

.ben-list {
  display: flex;
  gap: 24px;
}

.ben-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.ben-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

/* ----doing---- */
.doing {
  padding-top: 120px;
  padding-bottom: 120px;
}
.doing-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.doing-list {
  display: flex;
  gap: 24px;
}

/* ---team---- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--background-button);
}
.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.social-link {
  background-color: var(--normal-color-button);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--contact-color-hover);
}

.social-icon-svg {
  fill: var(--background-button);
  width: 16px;
  height: 16px;
}

.team-titl {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.team-list {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.info-person {
  padding: 32px 16px;
}
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.team-skill {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  margin-bottom: 8px;
}

/* footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-footer);
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.iris-logo {
  color: var(--iris-logo);
}
.white-logo {
  color: var(--white-color);
}
.footer-text {
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
}

/* -------portfolio----- */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.filter-list {
  margin-bottom: 72px;
  gap: 24px;
}
.gallery-img-box {
  height: 300px;
  width: 360px;
  position: relative;
  overflow: hidden;
}
.gallery-text {
  position: absolute;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-button);
  background-color: var(--iris-logo);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  padding: 32px 40px 32px;
  transform: translateY(100%);
}
.gallery-item:hover .gallery-text {
  transform: translateY(0);
  transition: transform 300ms linear;
}

.gallery-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.gallery-title {
  margin-bottom: 8px;
}
.filter-but {
  font-family: "Roboto";
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--background-button);
  border: 1px solid var(--border-button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-logo);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-but:hover,
.filter-but:focus {
  color: var(--white-color);
  background-color: var(--contact-color-hover);
  border: 1px solid var(--contact-color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 1px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-footer);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.link-cust-svg {
  border: 1px solid var(--svg-client);
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--svg-client);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-cust-svg:hover,
.link-cust-svg:focus {
  border: 1px solid var(--contact-color-hover);
  color: var(--contact-color-hover);
}
.custom-svg {
  fill: currentColor;
}

.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--background-footer);
}
.gallery-tipe {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.container-footer-logo {
  margin-right: 120px;
}

.footer-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-button);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--green);
}
.container-footer-icons {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-icons {
  fill: var(--white-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  height: 584px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  box-sizing: border-box;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--contact-color-hover);
  fill: var(--background-button);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.footer-name-input {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--white-color);
}

.footer-form {
  display: flex;
}

.footer-form-input {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 24px;
  box-sizing: border-box;
  width: 264px;
  height: 40px;
  background-color: var(--background-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-input:hover,
.footer-form-input:focus {
  outline: none;
}

.footer-butt-subs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background: var(--normal-color-button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-butt-subs:hover,
.footer-butt-subs:focus {
  background-color: var(--contact-color-hover);
}
.name-modal {
  padding-top: 48 px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-footer);
}
.box-modal-input {
  width: 100%;
}
.name-label-modal {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--svg-client);
}
.input-modal {
  margin-top: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.box-name {
  position: relative;
  margin-bottom: 8px;
  height: 40px;
}

.svg-modal-input {
  position: absolute;
  left: 19px;
  top: 14px;
}
.input-modal:hover,
.input-modal:focus {
  outline: none;
  border: 1px solid var(--iris-logo);
}
.box-name:hover,
.box-name:focus {
  fill: var(--iris-logo);
}
.textarea-modal {
  resize: none;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--input-text);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
}

.textarea-modal:hover,
.textarea-modal:focus {
  outline: none;
  border: 1px solid var(--iris-logo);
}

.butt-modal {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background: var(--normal-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.butt-modal:hover,
.butt-modal:focus {
  background-color: var(--contact-color-hover);
}
.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.modal-form-checkbox {
  position: absolute;
  appearance: none;
  display: block;
  height: 18px;

  border: 2px solid var(--primary-bg-cl);
  border-radius: 3px;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-size 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;

  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4px;
}
.modal-form-checkbox:checked {
  background-color: var(--contact-color-hover);
  border-color: var(--contact-color-hover);
  background-size: 14px;
}

.custom-checkbox {
}
.custom-checkbox-frame {
  fill: var(--white-color);
  stroke: #2e2f42;
  transition: 400ms;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-checkbox-frame {
  fill: var(--contact-color-hover);
  stroke: var(--contact-color-hover);
}
.custom-checkbox-check {
  fill: var(--white-color);
  opacity: 0;
  transform: rotate(0) scale(0.3);
  transition: 400ms 200ms;
  transform-origin: center;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-checkbox-check {
  opacity: 1;
  transform: rotate(360deg) scale(0.7);
}
.modal-form-desc {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form-link {
  color: var(--iris-logo);
  font-size: 12px;
  line-height: calc(14 / 12);
  text-decoration: underline;
}
